<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bg-light">
      <div class="container">

            <div class="row d-none">
                <div class="col-4 product" id="product">
                    <div class="card mt-2">
                      <div class="card-header bg-white font-weight-bold"><div class="name">Hello</div></div>
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                          src="https://mdbootstrap.com/img/new/standard/nature/112.jpg"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title font-weight-bold">2</h5>
                        <p class="card-text">
                          Product 1
                        </p>
                        <a href="{{ route('posts.show',$post->id) }}" class="btn btn-primary btn-sm">Add</a>
                        <a href="#!" class="btn-link float-right favorite-btn {{ in_array($post->id,$favoriteList->toArray()) ? 'text-danger' : ''}}" data-id="{{ $post->id }}"><i class="fa fa-star"></i></a>
                      </div>
                    </div>
                  </div>                
            </div>

            
            <div class="row">
                               
            </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
       var product = $('.row').clone().html();
       for(var i= 1;i<=10;i++) {
           $('body').find('.row').append(product);
           //$('.row').children().children().children().children('.name').css('color','red');
            //   $('.row').children().children().find('.name').css('color','red');
            $('.row').find('.product:nth-child(2)').css('color','red');
        }
    });
</script>
</body>
</html>